* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background: #2F1893;
}

.background{
  background: url("");  
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

div{
  font-family: "DM Sans", sans-serif;
  color:white;
  overflow: visible;
  max-width: 1350px;
  margin: auto;

}
.header{
  max-width: 1350px;
  padding-top: 45px;
  display: flex;
  justify-content: space-between;   
  align-items: center;
}

.header h3{
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.header button{
  padding: 15px 25px;
  background-color: #25DAC5;
  border-radius: 100px;
  border: none;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
}

.navbar{
  display: flex;
  list-style-type: none;
  gap: 25px;
  font-size: 18px;
  line-height: 26px;
  text-align: left;

  margin-top: 7px;
  padding: 0px 0px 0px 7px;
}

.navbar li a{
  text-decoration: none;
  color:white;
}

.text{
  max-width: 564px;
  margin-top: 178px;
  margin-left: 215px;
}

.text h1{
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 2px;
  text-align: left;
}

.text p{
  max-width: 564px;
  font-size: 22px;
  line-height: 32px;
  text-align: left;
  letter-spacing: 1px;
}

.footer{
  display: flex;

}

.bootstrap{    
  left: 15.36%;
  right: 66.36%;
  top: 64.35%;
  bottom: 12.26%;
}

.bootstrap h5{
  max-width: 204px;
  font-size: 19px;
  line-height: 26px;
  text-align: left;
  padding-top: 30px;

}

.bootstrap p{
  max-width: 255px;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  padding-top: 50px;
}

.html{   
 left: 36.79%;
 right: 44.93%;
 top: 64.35%;
 bottom: 15.09%;
}

.html h5{
  max-width: 141px;
  font-size: 19px;
  line-height: 26px;
  text-align: left;
  padding-top: 30px;
}

.html p{
  width: 255px;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  padding-top: 50px;
}

.mac{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;

}

.macbook{
  max-width: 580px;  
}